.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 10px;
}
.footer_up{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.footer_up img{
    height: 100px;
    width: 100px;
    
}
.footer_up h1{
    font-size: 35px;
    font-weight: 600;
    margin-top: 15px;
    color: rgb(248, 69, 69);

}
.footer ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 40px 20px;
}

.footer li{
    font-size: 23px;
    font-weight: 600;
    cursor: pointer;
    color: rgb(28, 49, 28);
}
.footer_down{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: center;
}

.social-icons{
    display: flex;
    flex-direction: row;
    gap: 20px;

}
.icon{
    font-size: 50px;
    color: rgb(21, 24, 21);
}
.footer_down hr{
    height: 1px;
    width: 80vh;

}
.footer_down p{
    font-size: 20px;
    font-size: 500;
}